@import "tailwindcss";

:root {
    --primary-color: #005CFF;

    --primary-font: 'Nunito', sans-serif;
    --secondary-font: 'Nunito Sans', sans-serif;
}

@theme{
    --color-blue-primary: var(--primary-color);

    --font-nunito-sans: var(--primary-font);
    --font-nunito: var(--secondary-font);
}

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body{
        font-family: var(--primary-font);
    }

    a{
        text-decoration: none;
        text-color: inherit;
    }
    
}

@layer components {
    .nav-shadow{
        box-shadow: 0px 4px 8px -1px #0000001A;
    }
}
