@import "tailwindcss";

:root {
  --primary-color: #005cff;

  --primary-font: "Nunito", sans-serif;
  --secondary-font: "Nunito Sans", sans-serif;
}

@theme {
  --color-blue-primary: var(--primary-color);

  --font-nunito-sans: var(--primary-font);
  --font-nunito: var(--secondary-font);
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: var(--primary-font);
  }

  a {
    text-decoration: none;
    text-color: inherit;
  }
}

@layer components {
  .nav-shadow {
    box-shadow: 0px 4px 8px -1px #0000001a;
  }

  .bg-avanti-mobile {
    background-image: url("../assets/images/bg_avanti_mobile.png");
  }

  .bg-avanti-desktop {
    background-image: url("../assets/images/bg_avanti.png");
  }

  .bg-dropdown{
    background-image: url("../assets/images/cup2_Mini.png");
  }
}

.custom-scrollbar {
  overflow-y: auto;
  max-height: 320px;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cecece;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}
